---
import Link from "./Link.astro";
---

<header class="w-full p-4 bg-slate-800 text-white shadow-xl">
  <nav>
    <ul class="flex gap-4">
      <li><Link href="/morskapet/">Hjem</Link></li>
      <li><Link href="#booking">Booking</Link></li>
    </ul>
  </nav>
</header>
