---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external } = Astro.props;
---

<a
  class="relative text-xl w-fit block after:block after:absolute after:h-[3px] after:bg-current after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
>
  <slot />
</a>
